*{
 margin:0px;
 padding:0px;
}
body{
 background-image: url('../img/img12.jpg');
 font-family: Century gothic;
 background-image: no-repeat;
 background-size: cover;
}
form{
 margin-top:120px;
 color: white;
 background-color: rgba(0,0,0,0.6);
 width: 460px;
 height:565px;
 transform: translate( -50%, -50%);
 top: 30%;
 left: 50%;  
 position: absolute;
}
input{
 font-size:17px;
 width: 420px;
 height: 25px;
 margin-left: 15px;
 background: black;
 color:white;
 border-radius: 10px;
 text-align: center;
 margin-bottom: 5px;
}
select{
 font-size: 17px;
 width: 420px;
 height: 30px;
 margin-left:15px;
 background: black;
 color:white;
 border-radius: 10px;
}
h4{
 margin-left:15px;
}
h2{
 text-align: center;
}
.button{
 margin-left: 15px;
 background: white;
 color:#267cb5;
}
.button:hover{
 background-color: white;
}
.logop{
 margin-top:19px;
 margin-left: 160px;
 margin-right: 10px;
}
.logo{
 height:auto;
 width:55%;
}

.back{
	text-align:right;
	float: right;
	margin-right:4px;
	margin-top:10px;
}

.backimg{
	width:50px;
	height:40px;
}

a{
 margin-left: 145px;
 font-size:15px;
 text-decoration:none; 
 color: white;
}
a:hover {
 text-decoration: underline;
 color: black;
}
.pp{
	color: white;
	margin-left: 10px;
}
.ppa{
	margin-left: 0px;
	color: yellow;
}
.ppa:hover{
	olor: white;
}